@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=cyrillic');

a.navbar-brand {
  color: #dd9852 !important;
  font-size: 280%;
  font-weight: bold;
}
a.page-link{
  background-color: #ffe4caeb;
  border-color: #e8c098;
  color: #dd9852;
  font-size: 120%;
  font-weight: bold;
}
a.page-link:hover{
  background-color: #f2d5b9eb;
  border-color: #ddb790;
  color: #dd9852;
}
a.turtle-btn:hover {
  color: #b57839 !important;
}
.about{
  background-color: white;
}
body{
  background-image: url("img/bg2.gif");
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: 'Amatic SC', cursive !important;
}
button:active, button:focus{
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
button.turtle-btn{
  color: #b57839 !important;
}
#buyAllButton{
  font-size: 100%;
  font-weight: bold;
}
.card{
  width: 120%;
}
.card-body{
  background-color: #ffeedd;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  padding: 3% !important;
  color: #b3722f;
  font-weight: bold !important;
  font-size: 190%;  
}
.card-body > p > a{
  color: #b3722f;
  text-decoration: none;
}
.card-body > hr{
  margin: 0 auto;
  width: 65% !important;
}
.card-body:hover{
  background-color:  #ffe4caeb !important;
}
.cart-row{
  color: #b3722f;
  font-size: 150%;
  font-weight: bold;
  background-color: #ffeedd;
}
.cart-row-buy-remove button{
  font-size: 108%;
}
.cart-row-buy-remove:hover{
  background-color: #f7dbc0;
}
#cartTitle{
  font-size: 130%;
  letter-spacing: 2px;
}
.cart-container{
  margin-top: 10%;
  margin-bottom: 20%;
  background-color: #f9e8d8 !important;
}
.cart-plus-minus button{
  /*! background-color: #d7b684 !important; */
  color: #c49b72 !important;
}
.cart-plus-minus button:hover{
  background-color: #eed5b0 !important; 
  color: #b57839 !important; 
}
.col-card{
  margin-right: 5%;
}
footer{
  font-size: 120%;
  font-weight: bold;
}
footer > nav > ul{
  margin-left: 10%;
}
.footer-links{
  margin-left: 2%;
}
footer i{
  color: #e1be88;
}
footer i:hover{
  color: #ecb052;
}
nav {
  background-color: #ffeedd !important;
  color: #dd9852 !important;
  font-family: 'Amatic SC', cursive;
  box-shadow: 0 2px 7px 2px #e0c0a1 !important;
  z-index: 1;
}
header > nav > ul > li > a{
  color: #cea984 !important;
  font-size: 200% !important;
}
.img-brand{
  width: 50%;
}
.main-header{
 margin-top: 10%;
}
.main-logo{
  width: 20%;
}
.main-h1{
  color: #dd9852 !important;
  font-family: 'Amatic SC', cursive;
  font-size: 680%;
  font-weight: bold;
}
.menu{
  padding-left: 0 !important;
}
.menu-item{
  color: #dd9852 !important;
  background-color: #ffeedd !important;
  font-family: 'Amatic SC', cursive;
  font-size: 180%;
  font-weight: bold;
}
.menu-item-collapse {
  background-color: #f9e3c3 !important;
  color: #b3722f !important;
  font-family: 'Amatic SC', cursive;
  font-size: 140%;
  text-decoration: none !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.menu-item:hover{
  background-color:  #ffe4caeb !important;
}
.menu-item-collapse:hover{
  background-color: #ead3b3 !important;
}
main{
  overflow: hidden !important;
}
.pagination-nav{
  background-color: transparent !important;
  box-shadow: none !important;
}
.product-info{
  background-color: #ffeedd;
  font-size: 100%;
  color: #dd9852 !important;
  font-size: 200% !important;
  font-weight: bold;
}
#productInfo{
  font-size: 87%;
}
.product-info-wrapper{
  margin-left: 60% !important;
}
.product-footer{
 margin-top: 10%; 
}
.product-buttons{
  background-color: #ffeedd;
}
.product-buttons:hover{
  background-color: #f7dbc0;
}
.product-buttons > button{
  font-size: 90%;
  font-weight: bold;
  color: #dd9852;
  letter-spacing: 3px;
}
.product-buttons > button:hover{
  text-decoration: none;
  color: #dd9852;
}
.product-review{
  padding-top: 5%;
  font-weight: normal;
}

.title-product-list{
  color: #b3722f;
  font-family: 'Amatic SC', cursive;
  font-size: 220%;
  font-weight: bold;
  margin-top: 6%;
}
.to-main-button{
  background-color: #ffeedd;
  margin-bottom: 1%;
  margin-top: 10%;
}
.to-main-button:hover{
   background-color: #f7dbc0;
}
.to-main-button > a{
  color: #dd9852;
  letter-spacing: 2px;
  font-size: 200%;
  font-weight: bold;
}
.to-main-button > a:hover{
  color: #dd9852;
  text-decoration: none;
}
.modal-window{
  background-color: #ffe4caeb !important;;
  color: #b3724b;
  font-size: 130%;
}
.modal-header{
  border: none !important;
}
.modal-window-title{
  font-size: 130%;
}